@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ctaFooter {
    background: linear-gradient(145deg, rgb(255, 7, 251), rgb(0, 115, 255));
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Darker background for the scrollbar track */
    border-radius: 5px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Slightly lighter thumb for contrast */
    border-radius: 5px; /* Rounded edges for the thumb */
    border: 2px solid #333; /* Matches the track for a seamless look */
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Brighter thumb when hovered for better visibility */
}

/* Optional: Add transition for smooth appearance */
::-webkit-scrollbar-thumb {
    transition: background 0.3s ease;
}
.seekBar-circle {
    transition: left 0.5s ease;
}